 
body
{ 
background-image:url("tronbg4.jpg");
 background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover  ; 
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,157,255,0.7);
}


li {
    float:right;
    border-right:1px solid #bbb;
}

li a {
    font-family:"verdana";
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}


img{opacity:1.0;}


li:last-child
{
float:left;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
background-color:gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:gray;
} 

#rotator {
        width:90%;
	float:none;
	clear:both;
	height:50%;     
	border: 2px double rgba(0,157,255,0.7);
  } 
#t1 { background-size:contain;
position:absolute;
top:32%;   
right:100px;
}

#daft{  border: 4px double rgba(0,204,0,1.0);
position:absolute;
top:35%; 
right:800px;
 }


#t2{ width:80%;
     height: 40%;
     background-color:black;
 position: absolute;
top:90%; 
right:150px;
box-shadow:  0 0 5px rgba(213,230,237,1) , 0 0 40px rgba(0,157,255,1) , 0 0 70px rgba(0,157,255,1) , 0 0 80px rgba(0,131,255,1) , 0 0 100px rgba(0,157,255,1) ;
  }
 
 p,h1,h2,h3   { 
text-overflow:scroll;
  .box-sizing(border-box);
  position: static;
  margin: 0;
  padding: 10px;
  font: normal 20px/normal "quantico", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;  
  white-space: pre;
  text-shadow: 0 0 10px rgba(213,230,237,1) , 0 0 20px rgba(116,202,237,1) , 0 0 30px rgba(42,121,147,1) , 0 0 40px rgba(0,157,255,1) , 0 0 70px rgba(0,157,255,1) , 0 0 80px rgba(0,131,255,1) , 0 0 100px rgba(0,157,255,1) ;
  .transition(all 200ms cubic-bezier(0.42, 0, 0.58, 1));
}
 #t2 h2:hover{ transform:scale(1.1); transition: all .5s ease-in-out;}

#eol { position:absolute;
top:200%; 
right:380px;
}
.keyboard {  position:absolute;
	background: black;
 	top:150%;
	right:400px;
	color: rgba(21,171,195,1.0);
	font-family: "Bitstream Vera Sans Mono", monospace;
	/* give all text a cold glow */
	text-shadow: 0 0 5px rgba(21,171,195,0.7);
	width: 27em;
	border: 4px double rgba(21,171,195,1.0);
	padding: 4px 0;
	font-size: 18px;
	cursor: pointer;
}
.keyboard * { 
	cursor: pointer;
}
.keyboard-row {
	clear: both;
	padding: 4px 0;
	text-align: center;
}
.keyboard-key {
	border: 1px solid rgba(21,171,195,1.0);
	display: inline;
	margin: 2px;
	padding: 0 5px;
	height: 20px;
}
.keyboard-key:hover {
	border: 1px solid rgba(36,198,224,1.0);
	background-color: rgba(36,198,224,1.0);
	-webkit-box-shadow:0 0 7px rgba(36,198,224,1.0); 
	-moz-box-shadow: 0 0 7px rgba(36,198,224,1.0); 
	box-shadow:0 0 7px rgba(36,198,224,1.0); 
}



.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  	text-overflow:scroll;
  .box-sizing(border-box);
  position: static;
  margin: 0;
  padding: 5px;
  font: normal 20px/normal "quantico", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  white-space: pre;
  text-shadow: 0 0 10px rgba(213,230,237,1) , 0 0 20px rgba(116,202,237,1) , 0 0 30px rgba(42,121,147,1) , 0 0 40px rgba(0,157,255,1) , 0 0 70px rgba(0,157,255,1) , 0 0 80px rgba(0,131,255,1) , 0 0 100px rgba(0,157,255,1) ;
  // .transition(all 200ms cubic-bezier(0.42, 0, 0.58, 1));
    position: relative;
    top: 15%; 
    width: 100%; 
    text-align: center; 
    margin-top: 20px; 
}


/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
h3{ font-size:50px;}

 #code span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
 #code span:nth-of-type(3)
{   
   animation: upper 11s linear infinite;}

#code span:nth-of-type(1) {
  //text-shadow: none;
  opacity:.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99;  text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed;;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed;; 
  }
} 